In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from word2number import w2n
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv("Student_Performance.csv")
data

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [3]:
data.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [4]:
le_comp=LabelEncoder()
data["Extracurricular Activities"]=le_comp.fit_transform(data["Extracurricular Activities"])

In [5]:
data

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,1,4,2,23.0
9996,7,64,1,8,5,58.0
9997,6,83,1,8,5,74.0
9998,9,97,1,7,0,95.0
9999,7,74,0,8,1,64.0

In [6]:
x=data.drop("Performance Index",axis=1)

In [7]:
y=data["Performance Index"]

In [8]:
x

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5
...,...,...,...,...,...
9995,1,49,1,4,2
9996,7,64,1,8,5
9997,6,83,1,8,5
9998,9,97,1,7,0
9999,7,74,0,8,1

In [9]:
y

0       91.0
1       65.0
2       45.0
3       36.0
4       66.0
        ...
9995    23.0
9996    58.0
9997    74.0
9998    95.0
9999    64.0
Name: Performance Index, Length: 10000, dtype: float64

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=12)

In [11]:
model=DecisionTreeRegressor(max_depth=5)
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9625360345967011

In [12]:
y_pred=model.predict(x_test)

In [13]:
y_pred

array([40.23430962, 82.88125   , 58.60960961, ..., 51.63362069,
       32.68722467, 72.24761905])

In [14]:
y_test

5669    40.0
8800    86.0
3205    60.0
8731    73.0
6412    45.0
        ...
794     73.0
142     94.0
275     49.0
8265    35.0
7950    71.0
Name: Performance Index, Length: 2000, dtype: float64

In [15]:
x

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5
...,...,...,...,...,...
9995,1,49,1,4,2
9996,7,64,1,8,5
9997,6,83,1,8,5
9998,9,97,1,7,0
9999,7,74,0,8,1

In [16]:
y

0       91.0
1       65.0
2       45.0
3       36.0
4       66.0
        ...
9995    23.0
9996    58.0
9997    74.0
9998    95.0
9999    64.0
Name: Performance Index, Length: 10000, dtype: float64

In [17]:
model=DecisionTreeRegressor()

In [18]:
model.fit(x,y)

DecisionTreeRegressor()

In [19]:
model.get_depth()

21

In [20]:
model.score(x,y)

0.9991716010815188

In [21]:
model2=DecisionTreeRegressor()
model2.fit(x,y)
model2.score(x,y)

0.9991716010815188

In [22]:
model.get_depth()

21

In [23]:
y_pred=model2.predict(x)
pd.DataFrame({"true values":y,"prediction":y_pred})

      true values  prediction
0            91.0        91.0
1            65.0        65.0
2            45.0        45.0
3            36.0        36.0
4            66.0        66.0
...           ...         ...
9995         23.0        23.0
9996         58.0        58.0
9997         74.0        74.0
9998         95.0        95.0
9999         64.0        64.5

[10000 rows x 2 columns]

In [24]:
HoursStudied=float(input('Enter the Hours Studied \n'))

PreviousScores=float(input("Enter the Previous Scores \n"))

ExtracurricularActivities=float(input('Enter the Extracurricular Activities\n'))

SleepHours=float(input("Enter the sleep Hours \n"))
                   
SampleQuestionPapersPracticed=float(input("Enter Sample Question Papers Practiced"))

Enter the Hours Studied
2
Enter the Previous Scores
3
Enter the Extracurricular Activities
5
Enter the sleep Hours
2
Enter Sample Question Papers Practiced5

In [25]:
model.predict([[HoursStudied,PreviousScores,ExtracurricularActivities,SleepHours,SampleQuestionPapersPracticed]])

array([16.])

In [26]:
from joblib import dump

In [27]:
dump(model,"D:\software\StudentML\djangoMLDeployment\savedModels\model.joblib")

['D:\\software\\StudentML\\djangoMLDeployment\\savedModels\\model.joblib']

In [6]:
data.columns

Index(['Hours Studied', 'Previous Scores', 'Extracurricular Activities',
       'Sleep Hours', 'Sample Question Papers Practiced', 'Performance Index'],
      dtype='object')